In [199]:
import pandas as pd
import networkx as nx

In [200]:
mainData = pd.read_csv('../data/mainData.csv')
mainData.head()

,title,year,episode_name,season,episode_num,country,date,rating,votes,rank,name,type
0,"""$#*! My Dad Says""",2010,Code Ed,1,4,USA,2010-10-14,6.8,72,6.899713,Alison (V) Brown,writer
1,"""$#*! My Dad Says""",2010,Code Ed,1,4,USA,2010-10-14,6.8,72,6.899713,Justin (II) Halpern,creator
2,"""$#*! My Dad Says""",2010,Code Ed,1,4,USA,2010-10-14,6.8,72,6.899713,David A. Katz,writer
3,"""$#*! My Dad Says""",2010,Code Ed,1,4,USA,2010-10-14,6.8,72,6.899713,David Kohan,creator
4,"""$#*! My Dad Says""",2010,Code Ed,1,4,USA,2010-10-14,6.8,72,6.899713,Michael Lisbe,written by

In [201]:
writers = mainData[mainData['type'].str.contains('writ').fillna(False)]
writers.head()

,title,year,episode_name,season,episode_num,country,date,rating,votes,rank,name,type
0,"""$#*! My Dad Says""",2010,Code Ed,1,4,USA,2010-10-14,6.8,72,6.899713,Alison (V) Brown,writer
2,"""$#*! My Dad Says""",2010,Code Ed,1,4,USA,2010-10-14,6.8,72,6.899713,David A. Katz,writer
4,"""$#*! My Dad Says""",2010,Code Ed,1,4,USA,2010-10-14,6.8,72,6.899713,Michael Lisbe,written by
6,"""$#*! My Dad Says""",2010,Code Ed,1,4,USA,2010-10-14,6.8,72,6.899713,Jesse Porter,writer
7,"""$#*! My Dad Says""",2010,Code Ed,1,4,USA,2010-10-14,6.8,72,6.899713,Nate Reger,written by

In [202]:
len(writers.index)

142640

In [211]:
writers['name'].value_counts().index

Index(['J.R. Havlan', 'Jon Stewart', 'Steve Bodow', 'Jason (V) Ross',
       'Stephen Colbert', 'Tim Carvell', 'Rich Blomquist', 'David Javerbaum',
       'Elliott Kalan', 'Kevin Bleyer',
       ...
       'Christine (III) Bailey', 'Suzanne Fitzpatrick', 'Joel Blasberg',
       'Steve Brasfield', 'Robert Forman', 'Ryan (V) Craig', 'Joy Kecken',
       'Bruce (III) Clark', 'Brian L. Perkins', 'Lacey Dyer'],
      dtype='object', length=9370)

In [217]:
grouped = writers[writers.name.isin(writers['name'].value_counts().head(50).index)].groupby(['title', 'year', 'season', 'episode_num'])

In [218]:
from itertools import combinations

output = []

for show, data in grouped:
    output.extend([x for x in combinations(data['name'], 2) if x[0] != x[1]])

In [219]:
G = nx.Graph()
G.add_edges_from(output, )

In [220]:
import matplotlib.pyplot as plt

nx.draw_networkx(G, pos=nx.spring_layout(G), alpha=0.25)
plt.show()

[{'Andrew Schneider',
  'Bathsheba Doran',
  'Cristine Chambers',
  'David (II) Chase',
  'David (XXV) Matthews',
  'Dennis (II) Lehane',
  'Diane Frolov',
  'Frank Renzulli',
  'Howard Korder',
  'Itamar Moses',
  'James Manos Jr.',
  'Jason Cahill',
  'Jennifer Ames',
  'Joe Bosso',
  'Lawrence Konner',
  'Margaret Nagle',
  'Matthew Weiner',
  'Meg (II) Jackson',
  'Mitchell Burgess',
  'Paul Simms',
  'Riccardo DiLoreto',
  'Robin (III) Green',
  'Steve (II) Turner',
  'Steve Kornacki',
  'Terence Winter',
  'Todd A. Kessler'},
 {'David (II) Simon', 'Ed Burns'}]

In [79]:
len(G.nodes())

0

In [189]:
nx.neighbors(G, 'David (II) Simon')

['Ed Burns']

In [54]:
degrees = pd.DataFrame.from_dict(G.degree(), orient='index').reset_index()
degrees.columns = ['Writer', 'degree']