In [1]:
import pandas as pd
import networkx as nx

In [152]:
mainData = pd.read_csv('../data/mainData.csv')
mainData.head()

,title,year,episode_name,season,episode_num,country,date,rating,votes,rank,name,type
0,$#*! My Dad Says,2010,Code Ed,1,4,USA,2010-10-14,6.8,72,6.899713,Alison (V) Brown,writer
1,$#*! My Dad Says,2010,Code Ed,1,4,USA,2010-10-14,6.8,72,6.899713,Justin (II) Halpern,creator
2,$#*! My Dad Says,2010,Code Ed,1,4,USA,2010-10-14,6.8,72,6.899713,David A. Katz,writer
3,$#*! My Dad Says,2010,Code Ed,1,4,USA,2010-10-14,6.8,72,6.899713,David Kohan,creator
4,$#*! My Dad Says,2010,Code Ed,1,4,USA,2010-10-14,6.8,72,6.899713,Michael Lisbe,written by

In [153]:
writers = mainData[mainData['type'].str.contains('writ').fillna(False)]
writers.head()

,title,year,episode_name,season,episode_num,country,date,rating,votes,rank,name,type
0,$#*! My Dad Says,2010,Code Ed,1,4,USA,2010-10-14,6.8,72,6.899713,Alison (V) Brown,writer
2,$#*! My Dad Says,2010,Code Ed,1,4,USA,2010-10-14,6.8,72,6.899713,David A. Katz,writer
4,$#*! My Dad Says,2010,Code Ed,1,4,USA,2010-10-14,6.8,72,6.899713,Michael Lisbe,written by
6,$#*! My Dad Says,2010,Code Ed,1,4,USA,2010-10-14,6.8,72,6.899713,Jesse Porter,writer
7,$#*! My Dad Says,2010,Code Ed,1,4,USA,2010-10-14,6.8,72,6.899713,Nate Reger,written by

In [154]:
len(writers.index)

142640

In [155]:
show_ratings = writers.groupby('title')['rank'].mean()
top_100 = list(show_ratings.sort_values(ascending=False).head(30).index)

In [156]:
grouped = writers[writers.title.isin(top_100)].groupby(['name'])

In [157]:
from itertools import combinations
from collections import Counter

output = []

for name, data in grouped:
    output.extend(set([x for x in combinations(data['title'],2) if x[0] != x[1]]))

output.sort()
c = Counter(output)

graph_builder = []
for x in c:
    graph_builder.append((x[0], x[1], {'weight': c[x]}))

In [158]:
G = nx.Graph()
G.add_edges_from(graph_builder)
for x in top_100:
    if x not in G.nodes():
        G.add_node(x)

In [159]:
import matplotlib.pyplot as plt
from math import exp

shows = writers[writers.title.isin(top_100)].groupby('title')

nx.draw_networkx(G, 
                 pos=nx.spring_layout(G), 
                 alpha=1,
                 nodelist = [show[0] for show in shows],
                 node_size = [len(show[1]['name'].value_counts().index)*10 for show in shows],
                 node_color = [show[1]['rank'].mean() for show in shows])
plt.show()

In [ ]:
output[1]

In [ ]:
len(G.nodes())

In [103]:
nx.neighbors(G, '"Band of Brothers"')

['"The Pacific"', '"Justified"']

In [ ]:
degrees = pd.DataFrame.from_dict(G.degree(), orient='index').reset_index()
degrees.columns = ['Writer', 'degree']

In [ ]:
dd = defaultdict(lambda : defaultdict(int))
dd[show_1][show_2] += 1

In [ ]:
from math import exp
colors = writers.groupby('title')['rank'].mean().apply(lambda x: exp(x*10)).to_dict()
num_writers =

In [ ]:
colors

In [151]:
shows = writers[writers.title.isin(top_100)].groupby('title')
[show[1]['rank'].mean() for show in shows]

[7.003883114854477,
 7.003182741169116,
 7.072844605296507,
 7.070614825655582,
 7.2769241180921425,
 7.470655801956319,
 7.270021627017134,
 7.034385122924979,
 7.043849643612731,
 7.153097593601197,
 7.015637723829485,
 7.076563761612914,
 7.57895523906097,
 7.014442192814791,
 7.131740275663853,
 7.005534019261218,
 7.005268123477754,
 7.060052278326723,
 7.183050450037953,
 7.036051654544879,
 7.037960248002147,
 7.003349876495887,
 7.036274674755052,
 7.633283659500646,
 7.020144475848395,
 7.02040883364909,
 7.018006656566343,
 7.13311352270747,
 7.233730567064744,
 7.344356264880803]