In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
releases = pd.read_csv('../data/release_dates.csv')
releases.head()

           title  year    country        date
0    "#1 Single"  2006        USA  2006-01-22
1      "#30Nods"  2016        USA  2016-01-01
2  "#7DaysLater"  2013  Australia  2013-10-22
3     "#Actress"  2015        USA  2015-04-15
4    "#Bandcamp"  2014        USA  2014-07-02

In [61]:
english_speaking_titles = releases[(releases.country == 'USA') & (releases.year > 1990)]
english_speaking_titles.head()

          title  year country        date
0   "#1 Single"  2006     USA  2006-01-22
1     "#30Nods"  2016     USA  2016-01-01
3    "#Actress"  2015     USA  2015-04-15
4   "#Bandcamp"  2014     USA  2014-07-02
5  "#Bikerlive"  2014     USA  2014-05-12

In [62]:
ratings = pd.read_csv('../data/ratings.csv')
ratings['rank'] = ( (ratings['votes'] / (ratings['votes'] + 2500)) * ratings['rating'] + 
                    (2500 / ((ratings['votes'] + 2500)))*6.9 
                  )
ratings.head()

           title  year  rating  votes      rank
0    "#1 Single"  2006     6.2     62  6.883060
1  "#7DaysLater"  2013     7.1     14  6.901114
2   "#Bikerlive"  2014     7.4     10  6.901992
3   "#BlackLove"  2015     6.8     30  6.898814
4    "#ByMySide"  2012     5.7     14  6.893317

In [63]:
data = english_speaking_titles.merge(ratings, how='inner')

In [64]:
data.sort_values('rank', ascending=False).head()

,title,year,country,date,rating,votes,rank
545,"""Band of Brothers""",2001,USA,2001-09-09,9.6,204233,9.567349
2108,"""Game of Thrones""",2011,USA,2011-04-17,9.5,899609,9.492795
805,"""Breaking Bad""",2008,USA,2008-01-20,9.5,795192,9.491851
6168,"""The Wire""",2002,USA,2002-06-02,9.4,174763,9.364742
17380,The Shawshank Redemption,1994,USA,1994-10-14,9.3,1590653,9.296234

In [65]:
writers = pd.read_csv('../data/writers.csv')
writers.head()

                        title  year                        name    type
0  "The Lyricist Lounge Show"  2000  Michael 'babeepower' Viera     NaN
1                 Bad Country  2014             Don 'Bud'Connor   story
2                     Comrade  2008                 Mak 'Kusare  writer
3                    StudZmen  2013   Ulia 'Noble Julz'Hamilton     NaN
4      Een vlucht regenwulpen  1981             Maarten 't Hart   novel

In [66]:
data = data.merge(writers)
data.sort_values('rank', ascending=False).head()

,title,year,country,date,rating,votes,rank,name,type
2412,"""Game of Thrones""",2011,USA,2011-04-17,9.5,899609,9.492795,D.B. (II) Weiss,created by
2411,"""Game of Thrones""",2011,USA,2011-04-17,9.5,899609,9.492795,David Benioff,created by
941,"""Breaking Bad""",2008,USA,2008-01-20,9.5,795192,9.491851,Vince Gilligan,created by
7913,"""The Wire""",2002,USA,2002-06-02,9.4,174763,9.364742,David (II) Simon,creator
31799,The Shawshank Redemption,1994,USA,1994-10-14,9.3,1590653,9.296234,Stephen King,story

In [72]:
data.groupby('name')['rank'].mean().sort_values(ascending=False).head(10)

name
D.B. (II) Weiss            9.492795
David (II) Simon           9.364742
Nic Pizzolatto             9.180855
David (II) Chase           9.167772
Michael Dante DiMartino    9.152492
Bryan Konietzko            9.152492
Thomas Keneally            8.893856
William J. MacDonald       8.853568
Winston Groom              8.795919
James Manos Jr.            8.789905
Name: rank, dtype: float64

In [68]:
data.name.value_counts()

William Shakespeare        35
Luc Besson                 34
Woody Allen                25
Tyler Perry                25
Stan Lee                   25
David Koepp                24
Stephen King               23
Terry Rossio               23
Mark Cronin                22
Ted Elliott                22
Robert Mark Kamen          22
David S. Goyer             20
Jack Kirby                 19
Bob Kane                   18
John Hughes                18
Brian Helgeland            18
David Mamet                18
Peter Tolan                18
John Logan                 18
Cris Abrego                17
Ronald Bass                17
Joss Whedon                17
Akiva Goldsman             16
Richard LaGravenese        16
Quentin Tarantino          16
Paul Haggis                16
Tony Gilroy                16
Joel Coen                  16
Robert Ben Garant          16
Ethan Coen                 16
                           ..
David C. Brunk              1
April Moskowitz             1
Akio Fukamachi              1
Ganesh Patro                1
Emanuele Crialese           1
Linnea Saasen               1
Palnati Surya Pratap        1
Nicole Kassell              1
Christine Schenley          1
Lawrence Page               1
Evan Naccarato              1
Alan Blanco                 1
Piers du Pr?                1
Robert C. Cooper            1
Michael Stephen McGuire     1
Jon Cowan                   1
Matt (III) Moses            1
Sanjeev Duggal              1
Kieran (III) Parker         1
Aldo Carotenuto             1
Andre Degas                 1
Oliver Robins               1
William Hoffer              1
Xiao Mao                    1
Shawn Sheridan              1
Khaled Youssef              1
Henry (II) Saine            1
Alana Kearns-Green          1
Jane (IV) Hamilton          1
J.R.S. Storch               1
Name: name, dtype: int64

In [82]:
data[data.name == 'Luc Besson']

,title,year,country,date,rating,votes,rank,name,type
9218,3 Days to Kill,2014,USA,2014-02-21,6.2,65400,6.225773,Luc Besson,screenplay
9219,3 Days to Kill,2014,USA,2014-02-21,6.2,65400,6.225773,Luc Besson,story
10818,Arthur et les Minimoys,2006,USA,2007-01-12,6.0,24877,6.082186,Luc Besson,book
10819,Arthur et les Minimoys,2006,USA,2007-01-12,6.0,24877,6.082186,Luc Besson,written by
11224,Banlieue 13,2004,USA,2006-06-02,7.2,54159,7.186763,Luc Besson,NaN
12376,Brick Mansions,2014,USA,2014-04-25,5.7,29852,5.792730,Luc Besson,screenplay
12377,Brick Mansions,2014,USA,2014-04-25,5.7,29852,5.792730,Luc Besson,screenplay
13606,Colombiana,2011,USA,2011-08-26,6.4,73424,6.416464,Luc Besson,screenplay
16816,From Paris with Love,2010,USA,2010-02-05,6.5,94580,6.510301,Luc Besson,story
19712,Joan of Arc,1999,USA,1999-11-12,6.4,54573,6.421902,Luc Besson,written by
20325,Kiss of the Dragon,2001,USA,2001-07-06,6.6,51726,6.613831,Luc Besson,screenplay
21293,Lockout,2012,USA,2012-04-13,6.1,79494,6.124392,Luc Besson,original idea
21294,Lockout,2012,USA,2012-04-13,6.1,79494,6.124392,Luc Besson,screenplay
21577,Lucy,2014,USA,2014-07-25,6.4,302692,6.404096,Luc Besson,written by
24741,Point of No Return,1993,USA,1993-03-19,5.9,19722,6.012501,Luc Besson,film La Femme Nikita
28242,Taken,2008,USA,2009-01-30,7.9,464477,7.894646,Luc Besson,written by
28244,Taken 2,2012,USA,2012-10-05,6.3,225961,6.306566,Luc Besson,NaN
28245,Taken 2,2012,USA,2012-10-05,6.3,225961,6.306566,Luc Besson,written by
28248,Taken 3,2014,USA,2015-01-09,6.0,120397,6.018308,Luc Besson,characters
28249,Taken 3,2014,USA,2015-01-09,6.0,120397,6.018308,Luc Besson,written by
28391,Taxi,1998,USA,1998-11-20,6.9,59279,6.900000,Luc Besson,NaN
28392,Taxi,2004,USA,2004-10-06,4.4,31698,4.582759,Luc Besson,earlier screenplay
28396,Taxi 2,2000,USA,2000-10-06,6.4,38968,6.430144,Luc Besson,NaN
29670,The Family,2013,USA,2013-09-13,6.3,83444,6.317453,Luc Besson,screenplay
29707,The Fifth Element,1997,USA,1997-05-09,7.7,326354,7.693918,Luc Besson,screenplay
29708,The Fifth Element,1997,USA,1997-05-09,7.7,326354,7.693918,Luc Besson,story
32150,The Transporter,2002,USA,2002-10-11,6.8,227046,6.801089,Luc Besson,written by
32152,The Transporter Refueled,2015,USA,2015-09-04,5.0,18871,5.222264,Luc Besson,characters
32153,The Transporter Refueled,2015,USA,2015-09-04,5.0,18871,5.222264,Luc Besson,written by
32996,Transporter 2,2005,USA,2005-09-02,6.3,148824,6.309913,Luc Besson,characters
32997,Transporter 2,2005,USA,2005-09-02,6.3,148824,6.309913,Luc Besson,written by
33000,Transporter 3,2008,USA,2008-11-26,6.1,119159,6.116439,Luc Besson,characters
33001,Transporter 3,2008,USA,2008-11-26,6.1,119159,6.116439,Luc Besson,written by
33491,Unleashed,2005,USA,2005-05-13,7.0,82699,6.997066,Luc Besson,written by