In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('../data/writers.csv')

In [6]:
df.head()

,title,year,name,type
0,"""The Lyricist Lounge Show""",2000,Michael 'babeepower' Viera,b'2000'
1,Bad Country,2014,Don 'Bud'Connor,b'story'
2,Comrade,2008,Mak 'Kusare,b'writer'
3,StudZmen,2013,Ulia 'Noble Julz'Hamilton,b'as Noble Julz Anu'
4,Een vlucht regenwulpen,1981,Maarten 't Hart,b'novel'

In [7]:
df[df.title == 'The Revenant']

,title,year,name,type
23758,The Revenant,2012,Nick (VI) Banks,b'story and screenplay'
131812,The Revenant,2012,Zach (II) Fitzpatrick,b'story'
132759,The Revenant,2012,Carole Flory,b'story'
154973,The Revenant,2015,Alejandro Gonz?lez I??rritu,b'screenplay) (as Alejandro G. I\xf1\xe1rritu'
203131,The Revenant,2012,Josh (XIII) Jones,b'story and screenplay'
336764,The Revenant,2009,D. Kerry Prior,b'written by) (as Kerry Prior'
338168,The Revenant,2015,Michael Punke,b'based in part on the novel by'
394107,The Revenant,2015,Mark L. Smith,b'screenplay'
424119,The Revenant,2012,Lisa Trapp,b'story'