In [56]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [73]:
releases = pd.read_csv('../data/release_dates.csv')
releases = releases[(releases.season.notnull()) & (releases.episode_num.notnull())]
releases.sort_values(['title', 'season', 'episode_num']).head()

,title,year,episode_name,season,episode_num,country,date
3,"""#1 Single""",2006,Is the Grass Greener?,1,1,USA,2006-01-22
7,"""#1 Single""",2006,Window Shopping,1,2,USA,2006-01-29
5,"""#1 Single""",2006,The Rules of Dating,1,3,USA,2006-02-05
1,"""#1 Single""",2006,Cats and Dogs,1,4,USA,2006-02-12
2,"""#1 Single""",2006,Finishing a Chapter,1,5,USA,2006-02-19

In [74]:
english_speaking_titles = releases[(releases.country == 'USA') & (releases.year > 1990)]
english_speaking_titles.head()
len(english_speaking_titles)

290912

In [95]:
ratings = pd.read_csv('../data/ratings.csv')
ratings['rank'] = ( (ratings['votes'] / (ratings['votes'] + 25000)) * ratings['rating'] + 
                    (25000 / ((ratings['votes'] + 25000)))*6.9 
                  )
ratings.head()

,title,year,episode_name,season,episode_num,rating,votes,rank
0,"""#1 Single""",2006,NaN,NaN,NaN,6.2,62,6.898268
1,"""#7DaysLater""",2013,NaN,NaN,NaN,7.1,14,6.900112
2,"""#Bikerlive""",2014,NaN,NaN,NaN,7.4,10,6.900200
3,"""#BlackLove""",2015,NaN,NaN,NaN,6.8,30,6.899880
4,"""#ByMySide""",2012,NaN,NaN,NaN,5.7,14,6.899328

In [96]:
data = english_speaking_titles.merge(ratings, how='inner')

In [97]:
data.sort_values('rank', ascending=False).head()

,title,year,episode_name,season,episode_num,country,date,rating,votes,rank
10923,"""Breaking Bad""",2008,Ozymandias,5,14,USA,2013-09-15,10.0,70412,9.187733
10901,"""Breaking Bad""",2008,Felina,5,16,USA,2013-09-29,9.9,49967,8.899560
28392,"""Game of Thrones""",2011,Hardhome,5,8,USA,2015-05-31,9.9,39244,8.732576
28419,"""Game of Thrones""",2011,The Rains of Castamere,3,9,USA,2013-06-02,9.9,36981,8.689952
28412,"""Game of Thrones""",2011,The Lion and the Rose,4,2,USA,2014-04-13,9.7,23425,8.254466

In [98]:
writers = pd.read_csv('../data/writers.csv')
writers.head()

,title,year,episode_name,season,episode_num,name,type
0,"""The Lyricist Lounge Show""",2000,NaN,NaN,NaN,Michael 'babeepower' Viera,NaN
1,"""De Middeleeuwen""",2001,NaN,NaN,NaN,Jan 't Lam,scenario
2,"""Shortland Street""",1992,(#8.203),NaN,NaN,Michele A'Court,writer
3,"""The Kids of Degrassi Street""",1979,Chuck Makes a Choice,1,9,Susan A'Court,writer
4,"""The Kids of Degrassi Street""",1979,Liz Sits the Schlegels,1,13,Susan A'Court,writer

In [99]:
data = data.merge(writers)
data.sort_values('rank', ascending=False).head()

,title,year,episode_name,season,episode_num,country,date,rating,votes,rank,name,type
32074,"""Breaking Bad""",2008,Ozymandias,5,14,USA,2013-09-15,10.0,70412,9.187733,Vince Gilligan,created by
32075,"""Breaking Bad""",2008,Ozymandias,5,14,USA,2013-09-15,10.0,70412,9.187733,Moira Walley-Beckett,written by
32027,"""Breaking Bad""",2008,Felina,5,16,USA,2013-09-29,9.9,49967,8.899560,Vince Gilligan,written by
32026,"""Breaking Bad""",2008,Felina,5,16,USA,2013-09-29,9.9,49967,8.899560,Vince Gilligan,created by
82359,"""Game of Thrones""",2011,Hardhome,5,8,USA,2015-05-31,9.9,39244,8.732576,George R.R. Martin,"""A Song of Ice and Fire"" by"

In [105]:
data.groupby('name')['rank'].mean().sort_values(ascending=False).head(20)

name
David Benioff           7.568974
D.B. (II) Weiss         7.568974
George R.R. Martin      7.529039
Bryan Cogman            7.437436
Jeff McKibben           7.425404
Mark Gatiss             7.421171
Eric 'Giz' Gewirtz      7.353290
Peter Gould             7.348482
Nic Pizzolatto          7.338838
Dave (XXXIII) Hill      7.335868
George Mastras          7.334486
Gordon (XXI) Smith      7.331911
Steve (XII) Thompson    7.326697
Randolph Leon           7.306722
Luke Kalteux            7.270022
Vince Gilligan          7.262228
J. (V) Roberts          7.257896
Sam Catlin              7.250020
Steven Moffat           7.226605
Charlie Adlard          7.210473
Name: rank, dtype: float64

In [107]:
data[data.name == 'Dave (XXXIII) Hill']

,title,year,episode_name,season,episode_num,country,date,rating,votes,rank,name,type
82405,"""Game of Thrones""",2011,Sons of the Harpy,5,4,USA,2015-05-03,8.7,7988,7.335868,Dave (XXXIII) Hill,written for television by

In [118]:
data.loc[data.title == '"The Sopranos"', 'rank'].mean()

6.989241927266077