In [1]:
import pandas as pd
import networkx as nx

In [4]:
mainData = pd.read_csv('../data/mainData.csv')
writers = mainData[mainData['type'].str.contains('writ').fillna(False)]
writers.head()

,title,year,episode_name,season,episode_num,country,date,rating,votes,rank,name,type
0,$#*! My Dad Says,2010,Code Ed,1,4,USA,2010-10-14,6.8,72,6.899713,Alison (V) Brown,writer
2,$#*! My Dad Says,2010,Code Ed,1,4,USA,2010-10-14,6.8,72,6.899713,David A. Katz,writer
4,$#*! My Dad Says,2010,Code Ed,1,4,USA,2010-10-14,6.8,72,6.899713,Michael Lisbe,written by
6,$#*! My Dad Says,2010,Code Ed,1,4,USA,2010-10-14,6.8,72,6.899713,Jesse Porter,writer
7,$#*! My Dad Says,2010,Code Ed,1,4,USA,2010-10-14,6.8,72,6.899713,Nate Reger,written by

In [45]:
grouped = writers[writers.title.isin(["Boardwalk Empire", "Mad Men", "The Sopranos"])].groupby(['title', 
                                                          'year', 
                                                          'season', 
                                                          'episode_num'])



from itertools import combinations

output = []

for show, data in grouped:
        output.extend([x for x in combinations(data['name'], 2) if x[0] != x[1]])

In [47]:
G = nx.Graph()
G.add_edges_from(output, )

import matplotlib.pyplot as plt

pos=nx.spring_layout(G)

plt.figure(figsize=(6,6))
nx.draw_networkx(G, pos=pos, alpha=0.5, with_labels=False)
nx.draw_networkx_labels(G, pos=pos, labels={'David (II) Chase': 'David (II) Chase', 
                                            'Terence Winter': 'Terence Winter', 
                                            'Matthew Weiner':'Matthew Weiner'}, font_weight='bold')
plt.axis('off')
plt.show()

[]